@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  @apply antialiased;
  font-family: "Montserrat", sans-serif;
  background: #f3f3f3;
  color: #394c6c;
}
